/* HEADER */
header{
    position:fixed;
    z-index: 1;
    box-shadow: 0px 0px 8px black;
    width:100%;
}
.header-bg{
    background-color: #ff6309;
}
.header-container{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:18rem;
    padding:0.6rem 0rem;    
}

.logo{
    flex-basis:10%;
    padding:0.5rem;
}

.icons>i{
    color:white;
    padding:0.1rem;
}

/* header&footer nav  */
nav li, a{
    display:inline;
    text-decoration: none;
    font-size:0.9rem;
    line-height:2rem;
    color:white;
    padding:1rem 0.5rem;
    font-family: sans-serif;
}
/* MAIN */
main{
    padding:9rem 0rem 0rem;
}
.row{
    height:35rem;
    display:flex;
    justify-content: center;
    margin:auto;
    gap:1rem;
}
/* items */
.item{
    position:relative;
}

.item img{
    height:30rem;   
}

/* info-item */
.what, .who,.price{
    font-size:0.9rem;
    font-family: sans-serif;
}
.who{
    color:rgb(97, 97, 97);
    font-weight: lighter;
}
.price{
    color:red;
    font-weight: bold;
}

span:only-child{
    text-decoration:line-through;
    color:rgb(62, 62, 62);
}
/* DISCOUNT AND LABELS */
.discount{
    height:1.5rem;
    width:3rem;
    background-color: red;
    position:absolute;
    bottom:7rem;
    color:white;
    font-family:sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: center;
}
.bg-green{
    height:1.5rem;
    background-color: rgb(29, 105, 60);
    position:absolute;
    bottom:7rem;
    left:3.5rem;
    color:white;
    font-family:sans-serif;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: center;
    padding:0rem 0.6rem;
}
.heart{
    background-color: rgb(255, 255, 255);
    position:absolute;
    top:1rem;
    right:0rem;
    color:rgb(20, 20, 20);
    font-family:sans-serif;
    font-size: 0.9rem;
    line-height: 2rem;
    text-align: center;
    padding:0rem 0.7rem;
}
.left-label{
    left:0rem;
}
/* FOOTER */
footer{
    background-color: black;
}
.footer-container{
    display:flex;
    justify-content:space-between;
    padding:1rem 13rem;
    margin-top:2rem;
}
footer h3{
    color:white;
    font-size:1rem;
}

footer a{
    text-align: left;
    padding:0rem;
    text-align: left;
    font-size: 0.8rem;
}
ul>li{
    padding:0rem;
    margin-right:0.5rem;
}

h5{
    font-size: 0.8rem;
    color:white;
    text-align: center;
}
/* footer icons */
.footer>i{
    color:white;
    padding:0.1rem;
}
/* interactive */
.heart:hover{
    color:red;
    font-size:1rem;
}
.hover-img{
    position:absolute;
    left:0rem;
    display:none;
}
.img:hover .hover-img{
    display:inline;
}